main{
    max-width: 1300px;
    width: 90%;
    margin: 40px auto;
    padding: 0 20px;
    font-family: Arial, sans-serif;
}

.page-title {
    border-bottom: 2px solid #222;
    padding-bottom: 10px;
    margin-bottom: 30px;
    color: #111;
}

/*no history*/
.empty-state {
    text-align: center;
    padding: 60px 20px;
    background: #f9f9f9;
    border-radius: 8px;
    border: 1px dashed #ccc;
}

.btn-return {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #ffffff;
    color: #000000;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 10px;
    font-weight: bold;
}
.btn-return:hover{
    border: none;
    background: rgba(255,0,0);
    color: white;
}
/*order*/
.order-card {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 25px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}

.order-header {
    background: #f8f9fa;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

.order-id {
    font-weight: bold;
    color: #333;
    margin-right: 15px;
}

.order-date {
    color: #666;
    font-size: 0.9rem;
}

.header-total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px; 
    font-size: 1.1rem;
    font-weight: bold;
}

.price-row {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.price-row.discount {
    color: #dc3545;
    font-size: 1rem;
}

.price-row .label {
    color: #666;
    font-weight: normal;
}

.price-row .amount {
    text-align: right;
}
.price-row.total-after-discount{
    text-align: right;
    color: #28a745;
    font-size: 1rem;
}

.order-body {
    padding: 10px 20px;
}

.item-row {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px dashed #eee;
}

.item-row:last-child {
    border-bottom: none;
}

.item-img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    margin-right: 20px;
}

.item-details {
    flex-grow: 1; 
}

.item-name {
    margin: 0 0 5px 0;
    color: #222;
    font-size: 1rem;
}

.item-calc {
    margin: 0;
    color: #888;
    font-size: 0.9rem;
}

.item-subtotal {
    font-weight: bold;
    color: #333;
    min-width: 100px;
    text-align: right;
}