/*----------------------Login GUI----------------------*/
.login {
    position: fixed;      /* 固定在屏幕上 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex; 
    gap: 10px;
    padding: 10px;
    flex-direction: column;
}

.usernamebar, .passwordbar {
    border: 1px solid rgb(168, 168, 168);
    width: 270px;
    height: 30px;
    background: rgb(251, 251, 251);
}

#loginwd {
    font-weight: bold;
    transform: translate(38%, -50%);
    font-size: 20px;
}

#loginbtn {
    width: 277px;
    height: 30px;
    border: none;
    color: white;
    background-color: black;
    margin-top: 10px;
}