body {
    font-family: 'Roboto', sans-serif;
}

.pdt_main {
    margin-top: 5px;
    margin-left: 50px;
}

#pdtwd {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addrow {
    position: absolute;
    margin-left: 85%;
}

.add_container {
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.productadd {
    background-color: white;
    width: 90%;
    max-width: 40rem;
    height: 25rem;
    border-radius: 25px;
}

#addBtn {
    width: 100px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/*----------ProductSideNav---------*/ 
.productLbl {
    display: flex;
    flex-direction: column;
}

.productLbl input {
    display: flex;
    margin-bottom: 12px;
    width: 100%;
    max-width: 23rem;
    height: 15px;
    padding: 5px 10px;
}

#pdtdc {
    height: 70px;
    resize: none;
    width: 24rem;
    margin-bottom: 12px;
}

.productLbl label{
    margin-bottom: 5px;
    font-size: 15px;
}

#pdtadd {
    background-color: black;
    color: white;
    border-radius: 30px;
    height: 35px;
    width: 90px;
    margin-top: 2rem;
    align-self: flex-end;
    margin-right: 20px; /* 根据需要调整 */
}
/*END*/

#addwd {
    padding: 27px;
    margin-left: 3px;
    font-size: 20px;
    font-weight: bold;
}

.productContainer {
    display: flex;
}

/*SideNav*/
.productSideNav {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}

.productSideNav a {
    width: 80px;
    padding: 10px 10px;
    text-decoration: none;
    margin-bottom: 10px;
    color: black;
    border-radius: 10px;
}

.productSideNav a:hover {
    background-color: #dddddd;
}

.productSideNav a.active {
    color: white;
    font-weight: 600;
    background-color: #000000;
}

.productPrice label{
    margin-bottom: 5px;
    font-size: 15px;
}

.productPrice input {
    display: flex;
    margin-bottom: 12px;
    max-width: 100%;
    width: 23rem;
    height: 15px;
    padding: 5px 10px;
}

.productPrice {
    display: none;
    flex-direction: column; /* 加这行 */
}
/*END*/

/*productStock*/
.productStock {
    display: none;
}
/*END*/

/*productDetails*/
.productDetails {
    display: none;
    flex-direction: column;
}


/*END*/
.addTop {
    display: flex;
}

#pdtaddCancel {
    position: absolute;
    margin-left: 38rem;
    margin-top: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
}

#pdtable {
    width: 95%;
    table-layout: fixed;
}

th, td{
    border: 1px solid grey;
    padding: 7px 30px;
    word-break: break-word;
}

th {
    white-space: nowrap;
}

.pdtdl {
    color: white;
    background-color: red;
    border: none;
    height: 25px;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.pdtet {
    color: white;
    background-color: cadetblue;
    border: none;
    height: 25px;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    gap: 5px;
    margin-left: 5px;
    margin-right: 7px;

}

#deleterow {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    position: fixed;  
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.row_container {
    width: 320px;
    height: 140px;
    background-color: white;
}

.dtlbtn {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

#dltwd {
    padding: 25px;
}

#yesdelete , #canceldelete{
    color: white;
    background-color: black;
    border: none;
    width: 130px;
    height: 35px;
}

#yesdelete {
    background-color: rgb(173, 3, 3);
}

#errorrow {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    position: fixed;  
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.error_container {
    width: 300px;
    height: 140px;
    background-color: white;
}

.errorbtn {
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
}

#error_dly {
    display: flex;
    left: 50%;
    margin-top: 12%;
    justify-content: center;
    font-size: 16px;
}

#okError{
    color: white;
    background-color: black;
    border: none;
    width: 120px;
    height: 35px;
}

