* {
  font-family: "Roboto", sans-serif;
}
/*----------------------Header Part----------------------*/
.header {
    position: fixed;
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.cematrixlogo {
    width: 7rem;
    margin-left: 30rem;
    margin-right: 34rem;
}

.searchicon {
    width: 1rem;
    margin-left: 6px;
}

.searchbar {
    margin-left:15px;
    height: 1.8rem;
    border-radius: 20px;
}

.mywishlist {
    width: 2rem;
    margin-right: 10px;
}

.usericon {
    width: 2.5rem;
}

.shoppingcart {
    width: 2rem;
    margin-right: 15px;
}

.header-hr {
    border: none;
    background-color: rgb(205, 205, 205);
    height: 2px;
    width: 90%;
    margin: 0 auto;     
    position: fixed;    
    top: 70px;
    left: 5%;
}
/*----------------------Add Accout Pop-up----------------------*/
.dropdown {
    position: relative;
}

.usermenu {
    position: absolute; /*不占据空间*/
    display: flex;
    flex-direction: column;
    opacity: 0; /*不显示*/
    pointer-events: none; /*不能被点击*/
    top: 100%;
    right: 0%;
    background: rgb(230, 229, 229);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    transition: all 0.25s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.usermenu.show {
    opacity: 1;
    pointer-events: auto;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center; /* 让加号和文字垂直居中 */
    margin: 10px 0;
    background-color: rgb(230, 229, 229);
}

.plus-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(207, 207, 207);
    font-weight: bold;
    font-size: small;
}

.addaccount {
    font-size: 13px;
    font-weight: bold;
}

